@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
.fixed {
  position: fixed;
  top: 0; 
  right: 0;
  z-index: 1;
}
@media (min-width: 200px), (max-width: 425px) {
  .fixed {
    display: none;
  }
}
.css-5xe99f-MuiLinearProgress-bar1{
    background-color: green !important;
}
.css-1kuv0w2-MuiLinearProgress-root{
  background-color: white !important;
}

/* Display the second column on larger screens */
@media (min-width: 1024px), (min-width: 768px), (min-width: 1440px), (min-width: 2500px) {
  .fixed {
    display: block;
  }
}
@media (max-width:1024px) {
  .fixed img{
    width: 300px;
   display: flex;
   justify-content: center;
   }
   .fixed {
    font-size: 15px;
    margin: 20px 35px 0px 50px;
   }
   .fixed p{
    font-size: 15px;
   }
}
@media (min-width:1440px)  {
  .fixed{
    font-size: 50px;
  }
}

@media (min-width: 1024px) {
  .lg-fixed-column {
    position: fixed;
  }

  .lg-w-530 {
    width: 530px;
  }
}
.bottom-element {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer{
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 520px;
}
@media (max-width: 320px){
  .footer {
    width: 320px;
  }
}
@media (min-width: 375px){
  .footer {
    width: 375px;
  }
}
@media (min-width: 425px){
  .footer {
    width: 425px;
  }
}
.header{
  position: fixed;
 box-shadow: rgb(17, 24, 39) 0px -15px 15px;
 /* width: 520px; */
}
@media (max-width: 320px){
  .header {
    width: 320px;
  }
}
@media (min-width: 375px){
  .header {
    width: 375px;
  }
}
@media (min-width: 425px){
  .header {
    width: 425px;
  }
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5); 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal {
  background-color:#03030B;
  color: white;
  border: 2px solid  white;
  padding: 20px;
  border-radius: 20px;
  width: 620px; 
  height: auto; 
}
.Toastify__zoom-enter {
  width: 15% !important;
}
@media  (max-width: 2560px) and (min-width: 1500px)   {
  .bg-height{
    height: 100vh !important;
  }
}
.bg-color{
  background-color: #821556;
  background-image: linear-gradient(225deg, #821556 0%, #47097f 35%, #052135 100%);
}
.bg-color1{
  background-color: #7c295b !important;
  background-image: linear-gradient(25deg, #df4ca4 0%, #64229e 50%, #2a648d 100%);
}